@import url('https://fonts.googleapis.com/css2?family=Mulish:ital@1&family=Poppins:wght@600;800&display=swap');
/* Google Fonts: CSS rules to specify families

font-family: 'Mulish', sans-serif;
font-family: 'Poppins', sans-serif; */


/* 
https://coolors.co/

CSS HEX /
--charcoal: #264653ff;
--persian-green: #2a9d8fff;
--orange-yellow-crayola: #e9c46aff;
--sandy-brown: #f4a261ff;
--burnt-sienna: #e76f51ff;

/ CSS HSL /
--charcoal: hsla(197, 37%, 24%, 1);
--persian-green: hsla(173, 58%, 39%, 1);
--orange-yellow-crayola: hsla(43, 74%, 66%, 1);
--sandy-brown: hsla(27, 87%, 67%, 1);
--burnt-sienna: hsla(12, 76%, 61%, 1);
*/

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Mulish",Helvetica,Arial,sans-serif;
  font-size: 1.05em;
  font-weight: 400;
  line-height: 1.63;
  color: #667488 !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Poppins",Arial,sans-serif;
  font-weight: 600;
  line-height: 1.5em;
  color: #272f46;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pt-5 {padding-top: 5% !important;}
.p-5 {padding: 5% !important;}
.bg-grey {
  background-color: #EDF1F4;
}
.col-grid,
.ui .col-grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) ) ;
}
/* Semantic OverRide */
.ui.stackable.menu {
  margin-bottom: 0;
}
.ui.breadcrumb .icon.divider {
  color: #ffffff;
}

/* Home Page Styles */
.main-container {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('views/img/person-christina-morillo.jpg');
  /* background-image: linear-gradient(180deg,rgba(38,70,83,.3),rgba(0,0,0,.5)),url('views/img/home-hero.jpg') */
}
.main-container .home-jumbotron {
  background-color: transparent;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./views/img/home-blue-banner.png');
  height: 50vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-size: 1.25em;
  padding-left: 5%;
}
.logo,
.main-container .home-jumbotron h1 {
  text-transform: capitalize;
  font-weight: 800;
  color: #2a9d8f;
}
.logo {
  font-size: 1.5em;
}

.main-container .home-jumbotron h1 {
  font-size: 3.25em;
}
.partners {
  background-color: rgba(78, 93, 111, 0.7);
  text-align: center;
  color: #ffffff;
  padding: 4% 0;
  font-size: 1.5em;
}

.callout-banner {
  text-align: center;
  /* padding: 5%; */
}
.callout-banner h2, .callout-banner h4 {
  text-transform: capitalize;
  margin: 0;
}
.callout-banner h2 {
color: #1C2733;
font-size: 2em;
}
.callout-banner h2 span {
  color: #2a9d8f;
}
.callout-banner h4 {
  color: #7E8890;
  font-size: 1.25em;
  font-family: 'Mulish', sans-serif;
}
.hiring-process-container .how-it-works {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) ) ;
  padding: 5% 0;
}
.hiring-process-container .how-it-works .col-icon {
  color: #264653;
}
.hiring-process-container .how-it-works h3 {
  text-transform: capitalize;
}

.secondary-banner {
  padding: 4%;
  border-bottom: 3px solid #2a9d8f;
}

.secondary-banner,
.secondary-banner h1,
.secondary-banner .breadcrumb a,
.secondary-banner .breadcrumb a:link,
.secondary-banner .breadcrumb a:hover,
.secondary-banner .breadcrumb a:visited {
  color: #ffffff;
  font-style: normal;
}
.secondary-banner {
  background-color: #264653;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.signup.secondary-banner {
  background-image: linear-gradient(180deg,rgba(38,70,83,.3),rgba(0,0,0,.5)),url('views/img/login-register.jpg')
}
.about.secondary-banner {
  background-image: linear-gradient(180deg,rgba(38,70,83,.3),rgba(0,0,0,.5)),url('views/img/about-banner.jpg')
}

.login-register-container.col-grid {
  grid-gap: 3em;
}
.login-register-container h3 {
  font-size: 2em;
}

/* Responsive Style */
@media only screen and (max-width: 600px) {
.main-container {
  background-image: none
}
  .main-container .home-jumbotron {
  padding: 5%;
  height: auto;
  background-position: 10ch 0;
}
  .main-container .home-jumbotron h1 {
    font-size: 2em;
  }
}
